.product {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
 .product {
    flex-direction: row;
  }
}

.product-images {
  flex: 2;
  padding: 8px;
}

.product-content {
 flex: 3;
}