:root {
  --primary-color: #ee4d2d;
  --primary-color-ligth: #ff7337;
  --sm-font-size: 12px;
  --md-font-size: 14px;
  --lg-font-size: 20px;
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
